{% extends 'user/base.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <h1>{{ category.name }}</h1>
    <div class="row">
      {% for product in product_list %}
        <div class="col-md-4 mb-3">
          <div class="card h-100">
            <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">{{ product.description }}</p>
              <p class="card-text">${{ product.price }}</p>
            </div>
            <div class="card-footer">
              <a href="{% url 'cart' %}?product_id={{ product.id }}" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  
{% endblock %}
